{
  parserOptions: {
    parser: 'babel-eslint'
  },
  "extends": "airbnb-base",
  "rules": {
    // Additional, per-project rules...
    "no-underscore-dangle": "off",
    "no-param-reassign": "off"
  },
  "globals": {
    "window": true,
    "document": true,
    "io": true,
    "$": true
  }
}
