@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

body {
  background-color: #eeeeee;
  color: #4a4a4a;
  font-family: Roboto;
  overflow-x: hidden;
}

.page-title {
  height: 150px;
}

.testing-header {
  display: flex;
  flex-flow: row;
}

.testing-controls {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  flex: 1;
  background-color: #fce4ec;
}

.inputs-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.testing-input-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 5px;
}

.testing-input-wrapper input {
  margin-left: 5px;
}

.text-input {
  width: 40px;
  max-width: 40px;
  border: none;
}

.action-button {
  width: 70px;
  height: 30px;
  color: white;
  border: none;
  cursor: pointer;
}

.action-button:disabled {
  background-color: #757575;
}

.start-button {
  background-color: #43a047;
}

.clear-button {
  background-color: #f44336;
}

.reset-button {
  background-color: #8d6e63;
}

.testing-statistics {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  flex: 3;
}

.queue-statistics {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #e1f5fe;
}

.queue-statistics-pane {
  text-align: center;
}

.pending-in-queue .quantity {
  font-size: 30px;
}

.users-statistics {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  flex: 1;
}

.customers-statistics {
  flex: 6;
}

.operators-statistics {
  flex: 4;
}

.customers-statistics {
  background-color: #c5cae9;
}

.operators-statistics {
  background-color: #c8e6c9;
}

.users-section {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.user-section {
  width: 45vw;
  height: calc(100vh - 150px);
  max-height: calc(100vh - 150px);
  overflow-y: scroll;
}

.user-statistics-pane {
  display: flex;
  flex-flow: column;
  text-align: right;
}

.user-type {
  align-self: center;
  font-size: 20px;
}

.user-statistics-pane p {
  margin-top: 2px;
}

.user-frame {
  width: 70px;
  max-width: 70px;
  height: 60px;
  max-height: 60px;
  margin-top: 5px;
  margin-left: 5px;
  overflow: hidden;
  font-size: 10px;
}

.customer-frame {
  background-color: #cfd8dc;
}

.operator-frame {
  background-color: #c8e6c9;
}

.all-calls-statistics {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  max-height: 100vh;
  background-color: #607D8B;
  color: #ECEFF1;
  overflow-y: scroll;
  transform: translateX(280px);
  transition: transform 0.5s;
}

.all-calls-statistics.opened {
  transform: translateX(0px);
}

.all-calls-toggler {
  border: none;
  color: #1976D2;
  cursor: pointer;
  font-size: 20px;
}

.all-calls {
  font-size: 12px;
}

.call-wrapper {
  margin-top: 10px;
  margin-right: 20px;
}
